<main class="container">
    <nav class="navbar navbar-expand navbar-blue justify-content-between">
        <a class="navbar-brand mr-auto">
            Team Picker
        </a>

        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item active">
            <a class="nav-link" href="/team_picker">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/index">Cohorts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/new">New Cohorts</a>
          </li>

        </ul>
    </nav>
</main>