<%- include('../partials/header') %>

<form action="/new" method="POST" style="margin: 15px 120px 10px 120px;"> 
    <%- include('./partials/formInputs') %>
    <input type="submit" value="Submit" class="btn btn-outline-primary" style="float:right;">
</form>

<%- include('../partials/footer') %>